.fun-facts-wrap-area {
  margin-top: 5%;
}
.preloader {
  visibility: hidden;
}
.why-home-section h2 {
  color: #fff;
}
.why-home-section p {
  color: #fff;
}
.industry-container .section-title {
  max-width: none;
}
.industry-container .section-title p {
  max-width: 85%;
}
.article-image {
  display: flex;
  justify-content: center;
}
.home-services .single-services-card {
  min-height: 440px;
}
.logo-adjust {
  height: 55px;
}
.single-team-box {
  cursor: pointer;
}
.article-image img {
  width: 70%;
}
.faq-image {
  margin-top: 8%;
}
.faq-image img {
  width: 110% !important;
  max-width: 110% !important;
}
.map-container {
  margin-top: 5%;
}
